.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
  }
  
  .user-form > div {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .user-form label {
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .user-form input {
    border: none;
    border-radius: 0.5rem;
    background-color: #f5f8fa;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 20px;

    /* width: 100%; */
    margin-right: 20%;
  }
  
  .user-form input[type="submit"],
  .user-form button {
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #1da1f2;
    color: #fff;
    transition: all 0.2s ease-in-out;
  }
  
  .user-form input[type="submit"]:hover,
  .user-form button:hover {
    background-color: #0d8ecf;
  }
  
  .user-form .cancel-button {
    background-color: transparent;
    color: #1da1f2;
    border: 1px solid #1da1f2;
    transition: all 0.2s ease-in-out;
  }
  
  .user-form .cancel-button:hover {
    background-color: #1da1f2;
    color: #fff;
  }
  
  .user-form .error {
    color: #ff4500;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  