.container {
  
  margin: 0 auto;
  padding: 20px;

}

h1 {
  margin-top: 0;
}

.error {
  color: red;
}

.delete-btn {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
